---
import AosInit from "../components/AosInit.jsx";
import "../styles/global.css";
---

<AosInit client:only="react" />

<section
  id="sobre"
  class="xl:h-screen flex flex-col max-xl:gap-y-12 xl:flex-row pt-8 xl:mt-0 items-center xl:justify-center relative overflow-hidden"
>
  <div
    class="z-15 w-[95%] mt-4 md:mt-0 md:w-[60%] order-2 min-xl:order-1"
    data-aos="fade-right"
    data-aos-duration="1000"
  >
    <img
      src="/uploads/gerais/imagem-sobre.jpg"
      alt="Estruturas metálicas da Constru Steel"
      class="max-xl:hidden w-full h-[400px] md:h-[600px] object-cover rounded-lg shadow-2xl border-2"
    />
    <img
      src="/uploads/gerais/imagem-sobre4.jpg"
      alt="Estruturas metálicas da Constru Steel"
      class="xl:hidden w-full h-[400px] md:h-[600px] object-cover rounded-lg shadow-2xl border-2"
    />
  </div>

  <div
    class="bg-[#2B2B2B] order-1 min-xl:order-2 flex flex-col w-[90%] xl:w-[40%] h-fit xl:h-120 justify-start xl:justify-center items-center xl:items-end pb-8 xl:pb-0 xl:px-12 gap-y-5 max-xl:rounded-2xl mb-2 lg:mb-0"
    data-aos="fade-left"
    data-aos-duration="1100"
  >
    <div
      class="h-[3px] rounded-full hidden bg-[#E57B4A] w-[94%] absolute z-50 right-5 -top-[7%]"
    >
    </div>
    <h1
      class="text-[#E57B4A] font-bold text-3xl text-right xl:text-[3.625rem] xl:text-right xl:w-[510px] max-xl:w-full max-xl:mr-8 mt-5 leading-tight"
    >
      <span class="block">SOBRE A</span>
      <span class="block">NOSSA EMPRESA</span>
    </h1>
    <p
      class="text-white text-2xl font-medium text-right md:text-right max-w-[95%] h-auto tracking-normal"
    >
      A Constru Steel é uma empresa do segmento de estruturas metálicas no qual
      se desempenha a entregar qualidade e agilidade nos serviços contratados.
      Projetamos, fabricamos e executamos construções em aço de acordo com a
      necessidade do cliente.
    </p>
    <div
      class="h-[3px] hidden rounded-full bg-[#E57B4A] w-[150%] absolute z-50 right-5 -bottom-[21%]"
    >
    </div>
  </div>
</section>
