---
import React from "react";
---

<footer
  class="text-[#E57B4A] h-[120px] flex items-center justify-center overflow-hidden bg-[#2C2B2B]"
>
  <div class="container flex flex-col md:flex-row justify-center md:justify-between items-center mx-auto">
    <img
      src="https://ik.imagekit.io/22g34n0mo/ConstruSteel/IMG_20210908_132003_892_waifu2x_art_noise2_scale-removebg-preview.png?updatedAt=1742493039821"
      alt=""
      class="z-11 w-[200px] h-auto mt-6"
    />

    <nav class="hidden md:block transition-transform duration-300 font-semibold text-xl">
      <ul class="flex space-x-4">
        <li class="hover:scale-105">
          <a
            href="#sobre"
            class="hover:text-gray-900 transition-transform duration-300"
            >Sobre</a
          >
        </li>
        <li class="hover:scale-105">
          <a href="#servicos" class="hover:text-gray-900">Serviços</a>
        </li>
        <li class="hover:scale-105">
          <a href="#portfolio" class="hover:text-gray-900">Portfólio</a>
        </li>
        <li class="hover:scale-105">
          <a href="#Contatos" class="hover:text-gray-900">Contatos</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
