---
import "../styles/global.css";
---

<section
  style="background-image: url(uploads/gerais/fundohero.jpg);"
  class="h-[calc(100vh-4.938rem)] relative bg-cover bg-[center_bottom_15%] max-xl:bg-[22%_33%] bg-no-repeat overflow-hidden"
>
  <!-- Camada de fundo escura -->
  <div
    class="bg-black/65 absolute inset-0 flex items-center justify-center xl:pl-[8%] xl:justify-normal"
  >
    <h1
      class="text-5xl md:text-7xl font-bold italic w-[90%] md:w-[509px] text-left opacity-0 animate-slide-in-right-to-left"
    >
      <span class="text-[#C5C5C5]">CONSTRUÍMOS OS</span>
      <span class="text-[#E57B4A]">ALICERCES</span>
      <span class="text-[#C5C5C5]">DOS SEUS</span>
      <span class="text-[#E57B4A]">SONHOS</span>
    </h1>
  </div>

  <!-- Imagem decorativa -->
  <img
    src="/uploads/gerais/logocortado.png"
    alt="Engenheiro olhando para uma construção"
    class="max-xl:hidden absolute bottom-0 right-12 w-[300px] md:w-[462px] h-auto animate-slide-in-right-to-left"
  />
</section>
