---
import AosInit from "../components/AosInit.jsx";
import "../styles/global.css";
---

<AosInit client:only="react" />

<section
  id="servicos"
  class="min-h-screen flex-col flex max-xl:items-center xl:px-0 z-50"
>
  <div
    class="flex flex-col xl:flex-row mx-4 md:mx-20 justify-between my-10 md:my-20 pt-2 md:pt-8 gap-8 md:gap-0"
  >
    <div class="w-full h-fit" data-aos="fade-right" data-aos-duration="1000">
      <h1
        class="text-[#E57B4A] font-bold text-4xl md:text-[70px] leading-tight"
      >
        NOSSOS <br />SERVIÇOS
      </h1>
    </div>

    <div
      class="w-full flex justify-center h-fit"
      data-aos="fade-left"
      data-aos-duration="1000"
    >
      <p class="text-lg md:text-[24px] md:text-justify py-4">
        Do projeto à execução de: Galpões, residências, quadras, mezaninos,
        escadas, reforços estruturais, coberturas, plataformas, pergolados,
        fechamentos...
      </p>
    </div>
  </div>

  <div
    class="relative bg-gradient-to-l from-[#999999] to-[#E8E8E8]
  w-full md:w-[100%] lg:w-[100%] xl:w-[55%] h-20 md:h-[124px] flex justify-center items-center font-bold text-2xl md:text-5xl z-10 px-4"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <p class="flex items-center justify-center">
      <span class="text-[#E57B4A] max-lg:mr-2">01</span> Elaboração de Projeto
    </p>
  </div>

  <div
    class="flex justify-center items-center mt-8 md:mt-10 mb-8 md:mb-10 relative z-0 px-4"
    data-aos="zoom-in"
    data-aos-duration="1000"
  >
    <img
      src="/uploads/gerais/elaboracao-projeto.png"
      alt="Project illustration"
      class="w-full max-w-[730px] h-auto"
    />
    <div
      class="hidden xl:block h-[135%] w-[3px] bg-[#E57B4A] absolute z-1 left-10 md:left-40 -top-[10%]"
    >
    </div>
    <div
      class="hidden xl:block h-[3px] w-[38%] bg-[#E57B4A] absolute z-1 left-10 md:left-40 -bottom-[25%]"
    >
    </div>
  </div>

  <div
    class="flex bg-gradient-to-l md:bg-gradient-to-r from-[#999999] to-[#E8E8E8]
  w-full md:w-[100%] lg:w-[100%] xl:w-[55%] h-20 md:h-[124px] items-center justify-center font-bold text-2xl md:text-5xl z-10 px-4 md:px-20 ml-auto"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <p class="flex items-center justify-center">
      <span class="text-[#E57B4A] mr-2">02</span> Fabricação de Material
    </p>
  </div>

  <div
    class="flex flex-col md:flex-row gap-8 md:max-lg:gap-8 md:justify-between mx-8 md:mx-10 2xl:mx-40 my-10 md:my-20 mt-8 md:mt-10 relative"
  >
    <div
      class="rounded-2xl overflow-hidden border-4 md:border-6"
      data-aos="zoom-in"
      data-aos-duration="1000"
    >
      <img
        src="/uploads/gerais/fabricacao-material-1.jpg"
        alt="Material fabrication"
        class="w-full md:max-lg:w-[500px] lg:w-[500px] h-full object-cover object-[100%_15%]"
      />
    </div>
    <div
      class="hidden xl:block h-[125%] w-[3px] bg-[#E57B4A] absolute left-1/2 -top-10"
      data-aos="fade-up"
      data-aos-duration="5000"
    >
    </div>
    <div
      class="rounded-2xl overflow-hidden border-4 md:border-6 transition-transform duration-300 ease-in-out"
      data-aos="zoom-in"
      data-aos-duration="1000"
    >
      <img
        src="/uploads/gerais/fabricacao-material-2.jpg"
        alt="Material fabrication"
        class="w-[500px] h-full object-[100%_95%] object-cover"
      />
    </div>
  </div>

  <div
    class="flex bg-gradient-to-l from-[#999999] to-[#E8E8E8]
    w-full md:w-[100%] lg:w-[100%] xl:w-[55%] h-20 md:h-[124px] justify-center items-center font-bold text-2xl md:text-5xl z-10 px-4 md:px-20 mb-8 md:mb-10"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <p class="flex items-center justify-center">
      <span class="text-[#E57B4A] max-lg:mr-2">03</span> Execução do Projeto
    </p>
  </div>

  <div class="flex flex-col items-center gap-y-6 mb-10 px-4">
    <img
      src="/uploads/gerais/execucao-do-projeto-1.jpg"
      alt="Project execution"
      class="w-full max-w-[535px] h-auto object-cover rounded-2xl overflow-hidden border-4 md:border-6"
      data-aos="zoom-in"
      data-aos-duration="1000"
    />
    <img
      src="/uploads/gerais/execucao-do-projeto-2.jpg"
      alt="Project execution"
      class="w-full max-w-[932px] h-auto object-cover rounded-2xl overflow-hidden border-4 md:border-6"
      data-aos="zoom-in"
      data-aos-duration="1000"
    />
    <div class="h-[3px] w-full max-w-[95%] bg-[#E57B4A] mt-5"></div>
  </div>
</section>
